@using Bardcore.ViewModels;
@model IEnumerable<MusicInformationVM>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Upload</a>
</p>
@foreach(var item in Model)
{
 <table>
   <tr>
    <td>@item.Name</td>
    <td>@item.Artist.ArName</td>
    <td>@item.Genre.GName</td>
    <td>@item.Album.AlName</td>
    <td>@item.Uploader</td>
    <td>@item.UploadDate</td>
    <td><a src="@item.FileLocation">Listen</a></td>
    </tr>
 </table>


}
